/*
    default font - 32px
*/
.f-sml{ font-size: 28px; }
.f-med{ font-size: 34px; }
.f-lrg{ font-size: 40px; }
.f-bold{ font-weight: 700; }

.elem-center{ justify-content: center; align-items: center; }

body{
    background-color: #4d4d4d;
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}
header, main, footer, nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
header{
    font-weight: 700;
    justify-content: center;
}
a{ 
    text-decoration: none; 
    color: #ffffff;
    transition: .1s;
}
a:hover{ color: #d1d1d1;}
ul{ list-style-type: none; }
.divider{ border: 1px solid #8a8a8a; width: 100%; margin: 5px 0px 10px 0px;}
/*-h-----------------------------------*/
.h-nav{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 0px;
}
.h-pageTitle{
    padding: 0px 0px 10px 0px;
}
/*-m-----------------------------------*/
#map{
    height: 70vh;
    width: 100%;
}
/*-f-----------------------------------*/

/*-------------------------------------*/